# Java / Eclipse
bin/
target/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Secrets
*.json
*.env
key*.json

# Logs
*.log

# Ignore local application properties
src/main/resources/application.properties

